

body {
    font-family: Arial, sans-serif;
    background-color:  #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
      
      #controller-details div {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      

}

h1 {
    color: #333;
}

#player-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gamepad-status {
    font-size: 18px;
    color: #666;
}

